* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #222831;
  color: #00ADB5;
  max-width: 2048px;
  margin: 50px 150px;
}

p {
  color: #eee;
}

a {
  color: #8468ff;
}

a:hover {
  color: #6751c7;
}

header {
  text-align: center;
  background-image: linear-gradient(180deg, #393E46 0%, rgba(217, 217, 217, 0) 100%);
  height: 200px;
  padding: 32px;
  color: var(--main-heading-color);
  /* border-radius: var(--container-border-radius); */
  /* border: 2px solid white; */
  border-radius: 20px 20px 10px 10px;
}

.title-heading {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;

  margin-bottom: 0;
}


main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 1rem 0;
  padding: 1rem;
}

.card {
  width: 380px;
  border: 1px solid #FAF0E6;

  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card:hover {
  /* border: 1px solid hsla(0, 2%, 18%, 0.322); */
  cursor: pointer;
}

.card img {
  width: 380px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.desc {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  font-weight: 700;
  width: 100%;
}

@media (max-width: 1024px) {
  body {
    padding: 0;
  }

  main {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  .card,
  .card img {
    width: 100%;
  }

  .card {
    margin: 0;
    width: 330px;
  }

}

@media (max-width: 768px) {
  body {
    margin: 1rem;
    padding: 0;
  }

  main {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    font-size: 1.25rem;
  }
}