*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #f0f0f0;
}

nav{
    padding: 15px 30px;
    font-size: 30px;
}

#brand {
    text-decoration: none;
    color: red;
}

#nav-container{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

#nav-title{
    font-size: 25px;
    color: #555;
}

.nav{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul li {
    list-style: none;
}

ul li a {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
}

ul li a:hover{
    border-radius: 10px;
    background-color: #fff;
}


#body{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20rem;
    background-color: #222;
    padding: 10px;
    color: #fff;
    height: 40px;
}