body{
    margin: 0;
    background-color: #ddd;
}

nav{
    padding: 10px 30px;
    border-bottom: 2px solid #fff;
}

nav h2{
    margin: 0px;
    padding: 0px;
}

.inputField{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 18px;
    width: 20rem;
    border: 1px solid #bbb;
    outline: none;
    font-size: 18px;
    font-weight: 700;
}